body {
    text-align: center !important;
    background-color: rgba(248, 248, 248, 0.837) !important;
  }


  .continer{
    display:inline-flex;
    justify-content: space-around;
    margin: 10px;
    background-color: white;
    box-shadow: 5px  5px 10px rgb(144, 117, 117);
  }
  .card{
    text-align: left;
    width: 320px;
    height: 350px;
  }
  .card img{
    width: 320px;
    height: 160px;
  }